.Root {
	width: 100%;
	height: 100%;
}

.BossPanel {
	horizontal-align: center;
	vertical-align: top;
	width: 800px;
	height: 200px;
	visibility: collapse;
}

.BossPortrait {
	width: 140px;
	height: 143px;
	border: 1px solid #7F8C8D;
	margin-left: 25px;
	margin-top: -1px;
	border-radius: 10px;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.BossPortrait #BossPortraitImage {
	width: 100%;
	height: 100%;
}

.BossHpBar
{
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #A71D31 ), to( #3F0D12 ) );
}

.BossHpBarPanel {
	width: 100%;
	height: 30px;
	border: 1px solid grey;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #434343 ), to( #000000 ) );
	border-radius: 4px;
	margin-left: 157px; 
	margin-top: 23px;
}

.BossMpBar
{
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #009FFD ), to( #2A2A72 ) );
}

.BossMpBarPanel {
	width: 100%;
	height: 30px;
	border: 1px solid grey;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #434343 ), to( #000000 ) );
	border-radius: 4px;
	margin-left: 157px; 
	margin-top: 50px;
}

.BossHpMpBarValue
{
	color: white;
	font-size: 14px;
	vertical-align: center;
	horizontal-align: center;
	font-family: platformfont;
}


.BossHpMpBarRegValue {
	color: white;
	font-size: 14px;
	vertical-align: center;
	horizontal-align: right;
	margin-right: 4px;
	font-family: platformfont;
}

#ManaBurner,
#HealthBurner
{
	width: 100%;
	height: 100%;
}

#HealthBurner
{
	hue-rotation: 230deg;
	opacity: 1;
}

#ManaBurner
{
	hue-rotation: 100deg;
	opacity: 1;
}

.AbilityImage
{
	width: 64px;
	height: 64px;
	border: 1px solid grey;
	border-radius: 6px; 
}

.BossAbilitiesPanel {
	flow-children: right;
	width: 100%;
	margin-left: 157px;
	margin-top: 79px;
}

.BossNamePanel {
	width: 100%;
	height: 25px;
	border: 1px solid grey;
	horizontal-align: center;
	margin-left: 158px;
	background-image: url("s2r://panorama/images/backgrounds/gallery_background_png.vtex");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-right: 1px;
}

.BossNamePanel #BossName {
	horizontal-align: center;
	vertical-align: center;
	font-size: 18px;
	font-family: platformfont;
}

#CooldownOverlay
{
	height: 100%;
	width: 100%;
	background-color: #000000DD;
}

#CooldownTimer
{
	color: white;
    font-size: 24px;
	text-shadow: 0px 0px 6px 6 #000000;
    horizontal-align: center;
    vertical-align: center;
}

#Cooldown
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

#Cooldown.in_cooldown
{
	visibility: visible;
}

.insufficient_mana
{
	saturation: 0;
	wash-color: #1569be;
}

#ManaCost
{
	color: #c0e8fb;
    font-size: 14px;
    font-weight: bold;
	text-shadow: 0px 0px 6px 8 #245191;
	vertical-align: bottom;
	horizontal-align: right;
}

@define HeroTransitionDuration: 0.46s;

.OverviewHeroRender
{
	width: 100%;
	height: 100%;
	opacity: 0.01; /* hack to make sure that Paint is called which will actually cause it to load */
	pre-transform-scale2d: 1.0;
	transition-property: opacity, width, height, transform, pre-transform-scale2d, opacity-mask ;
	transition-duration: 0.10s, 1s, 0.6s;
	transition-timing-function: cubic-bezier( 0.785, 0.385, 0.555, 1.505 );
}

.OverviewHeroRender.SceneLoaded
{
	opacity: 1;
	pre-transform-scale2d: 1;
	transition-duration: 0.10s, 0.3s, HeroTransitionDuration, HeroTransitionDuration, HeroTransitionDuration, HeroTransitionDuration, 0.2s;
}